<!doctype html>
<html lang="en">
    <title>Web Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <div class="container-fluid">
        {% if check is none %}
            Wait for first results...
        {% else %}
            <h1>{{ "{:%B %d, %Y - %H:%M:%S}".format(check['date']) }}</h1>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>URL</th>
                    <th>Up</th>
                    <th>match</th>
                    <th>Elasped</th>
                    <th>Error</th>
                  </tr>
                </thead>
                <tbody>
                {% for site_status in check['sites'] %}
                    <tr>
                        <td>{{ site_status['config_site']['url']}}</td>
                        {# UP #}
                        {% if site_status['up'] %}
                            <td><span class="label label-success">OK</span></td>
                        {% else %}
                            <td><span class="label label-danger">Error</span></td>
                        {% endif %}
                        {# Match #}
                        {% if site_status['match'] %}
                            <td><span class="label label-success">OK</span></td>
                        {% else %}
                            <td><span class="label label-danger">Error</span></td>
                        {% endif %}
                        {# Elapsed #}
                        {% if site_status['up'] %}
                            <td>{{ site_status['elapsed'] }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {# Error #}
                        {% if site_status['up'] %}
                            <td></td>
                        {% else %}
                            <td>{{ site_status['error']}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
          </table>
        {% endif %}
    </div>
</html>
